<hr size="1" />
<table>
  <tr>
    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; text-align:center" valign="top">
      <a href="https://www.facebook.com/paulo.barcelos.5" target="_blank"><img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-03/master/.github/logo.png" border="0" /></a>
    </td>
    <td style="font-family:tahoma,arial,verdana; font-size:12px; padding-left:10px">
      <strong>GymPoint</strong>
      <br />
      <strong>Fone:</strong> (31) 9238 8348
      <br />
      <strong>Site:</strong> <a href="https://www.facebook.com/paulo.barcelos.5" target="_blank">FaceBook</a>
      <br />
      <br /></td> </tr></table>
