<strong> Olá, {{ students }}</strong>
<p> Você nós enviou uma solicitação de ajuda.</p>
<p>
    <strong> A sua solicitação enviada:</strong> <hr/> {{ question}} <hr/><br>
    <strong> Resposta da academia:</strong><hr/> {{ answer }} <hr/><br>

    <br />
    <small>
        <p>
          Obrigado por fazer parte da GymPoint. Estamos animados para ajudá-lo a atingir seus objetivos de saúde e fitness. Com a nossa experiência, profissionais dedicados e localizados na melhor região do bairro, sabemos que poderemos apoiá-lo na sua caminhada.
      </p>
    </small>

</p>
